<div class="part-1">
  <div id="div-1">This is a div</div>
  <span id="span-1">This is a span</span>
  <img id="img" src="https://source.unsplash.com/xfngap>DToE" alt="" />
  <span id="span-2">This is another span</span>
  <div id="div-2">This is another div</div>
</div>

<div class="part-2 aboutFlex flexbox-container">
  <div class="flexbox-item flexbox-item1">Flex-1</div>
  <div class="flexbox-item flexbox-item2">Flex-2</div>
  <div class="flexbox-item flexbox-item3">Flex-3</div>
</div>


<!-- Display in INLINE, BLOCK, INLINE-BLOCK -->

<h1>The display Property</h1>

<h2>display: inline</h2>
<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="a">Aliquam</span> <span class="a">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

<h2>display: inline-block</h2>
<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="b">Aliquam</span> <span class="b">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

<h2>display: block</h2>
<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="c">Aliquam</span> <span class="c">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>
