.card-info{
    font-size: larger;
    color: antiquewhite;
    border: 1ps solid blueviolet;
}
.card-info-partial-projection{
    font-size: larger;
    color: yellowgreen;
    border: 1ps solid blueviolet;
}