.headr-bar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100%;
}

.header-title {
    align-self: center;
}

.header-user {
    align-self: center;
}

span {
    align-self:center;
}
