.template-main {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 30rem;
    width: 30rem;
    background-color: darkgoldenrod;
    border: 1px solid grey;
    border-radius: 1rem;
    margin: 0.1rem;
}