

.container {
    display: block;
}

.content {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
}

@supports(display: flex){
    .container {
        display:flex;
        justify-content: space-between;
    }
}