.setBackgound {
    background-color: red;
}

.setBorder {
    border: 2px solid green;
}

.setRadius {
    border-radius: 10px;
}

.defaultDivCss {
    height: 50px;
    width: 200px;
    margin: 5px;
}