<form class="form-signin" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-signin">
        <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="form-title">Please sign in</h1>
           
        <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
        <input
          type="email"
          id="inputEmail"
          name="username"
          class="form-control"
          placeholder="Username"
          required
          autofocus
          ngModel
        />
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
        <input
          type="password"
          id="inputPassword"
          name="password"
          class="form-control"
          placeholder="Password"
          required
          ngModel
        />
      
        <button class="btn btn-lg btn-primary btn-block">Sign in</button>
      </div>
      </form>
